{% extends 'base.html' %}

 {% block content %}
 
 <h5>User: </h5>
  <div class = "ukuranNama"> 
  <p>{{user}}</p>
  </div>
  
  <br>

  <div class = "container">   
  <table>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for item in list_data %}
    <tr>
        <th>{{item.user}}</th>
        <th>{{item.title}}</th>
        <th>{{item.description}}</th>
        <th>{{item.date}}</th>
    {% if item.done %}
        <th>Selesai</th>
    {% else %}
        <th>Belum Selesai</th>
    {% endif %}
        <th><button><a href="{% url 'todolist:done' item.id %}">Change</a></button> </th>
        <th><button><a href="{% url 'todolist:delete' item.id %}">Delete</a></button> </th>
    </tr>
    {% endfor %}    
  </table>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <button><a href="{% url 'todolist:createtask' %}">Create Task</a></button>
    <button><a href="{% url 'todolist:logout' %}">Logout</a></button>
  </div> 

 {% endblock content %}

 