{% extends 'base.html' %}

<title>Registrasi Akun</title>
 {% block content %}
 
 <style>
  body {
      background-color: #FCF8E8;
  }
  table, th, tr, td{
      font-family: Lucida Bright;
      color: #937DC2;
      border: 1px solid #937DC2;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: small;
      margin: auto;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px;
      background-color: #FFE6F7;
      background-image: linear-gradient(315deg, #FFE6F7 0%, #FFFFFF 74%);

  }
  .judul{
    font-family: Lucida Bright;
    color: #937DC2;
    font-size: large;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .nama{
    font-family: Lucida Bright;
    color: #937DC2;
    font-size: medium;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
</style>

  <div class= "judul">
    <h1>Todolist</hi>
  </div>
  <div class = "ukuranNama"> 

  <div class= "nama">
    <h5>User: {{user}}</h5>
  </div>

  </div>
  
  <br>

  <div class = "container">   

    <div class="d-flex justify-content-center align-items-center gap-3">
    {% for card in list_data %}
    {#  Single Card Template:#}
    <div class="card" style="width: 15rem; margin: 10px; align-items: center;">
      <img src="{{ card.image }}" class="card-img-top" >
      <div class="card-body">
        <div style="display: flex; flex-direction: row">
          <h5 class="card-title">{{ card.title }}</h5>
          {#  Colored cirlce:#}
          <div style="
            background: {{ card.color }}
            width: 20px;
            height: 20px;
            margin-left: 10px;
            border-radius: 50%;
          "></div>
        </div>
        <p class="card-text">{{ card.description }}</p>
        <th><a href="{% url 'todolist:delete' card.id %}" input class="btn btn-secondary">Delete</a></button> </th>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <div class="d-flex justify-content-center align-items-center gap-3 responsive-container">
    {% for data in list_todo %}
    <div class="card text-center zoom">
      <div class="card-header card-bg-rv">Date: {{data.date}}</div>
      <div class="image-box card-bg-rv">
        <img src="{% static "media/a3.png" %}" height="200">
        <div class="card responsive-card">
          <div class="card-body card-bg-rv">
            <h5 class="card-title">{{data.title}}</h5>
            <p class="card-text"> {{data.description}} </p>
            <a href="{% url 'todolist:delete-task' data.id %}" class="btn btn-primary">Delete task</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <div class = "nama"> 
    <p>Sesi terakhir login: {{ last_login }}</p>
    <th><a href="{% url 'todolist:createtask' %}" input class="btn btn-secondary">Create Task</a></button>
    <th><a href="{% url 'todolist:logout' %}" input class="btn btn-secondary">Logout</a></button>
  </div> 

 {% endblock content %}

 